
.Follower {
    background: var(--color-white);
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-3);
    padding: 1.1rem var(--card-padding);
  
    .userInfo {
      display: flex;
      align-items: center;
      color: var(--color-dark);
  
      .name {
        margin-left: var(--padding-1);
      }
    }
  
    .follow-link {
      margin-left: auto;
      padding: 0.5rem 1rem;
      background-color: var(--color-primary);
      color: var(--color-white);
      border: none;
      border-radius: var(--border-radius-1);
      cursor: pointer;
  
      &:hover {
        background-color: var(--color-dark);
      }
    }
  }
  